<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootswatch/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/bootswatch/_bootswatch.scss}">
  <link rel="stylesheet" th:href="@{/css/bootswatch/_variables.scss}">
  <title>Title</title>
</head>

<header>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MintyJewelry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ALL</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">COLLECTION</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <th:block sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link active" th:text="|${#authentication.name}님|"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link a_login" href="#">MYPAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a_login" th:href="@{~/logout}">LOGOUT</a>
          </li>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link a_login" th:href="@{~/login}">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a_register" th:href="@{~/register}">LEGISTER</a>
          </li>
        </th:block>
      </ul>
    </div>
  </div>
</nav>
</header>

<th:block layout:fragment="content_body"></th:block>

</html>