<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.web.dao.ProductListDAO">

    <!--상품 리스트-->
    <select id="getProductList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
        prdt_code,
            prdt_name,
            prdt_mainimg,
            brand_name,
            updt_date,
            TO_CHAR(prdt_price,'999,999,999,999')||'￦' AS prdt_price,
            prdt_categori,
            brand_id,
            prdt_inventory,
            prdt_salecnt,
            pl.sale_code,
            sl.sale_count
        FROM
            product_list pl
        left join sale_list sl
            on pl.sale_code = sl.sale_code and sale_period > now()
        where
            0=0
            <if test="brandId">
                and brand_id = #{brandId}::uuid
            </if>
            <if test="prdtNm">
                and prdt_name = #{prdtNm}::uuid
            </if>
            <if test="prdtCategori">
                and prdt_categori like '%'||#{prdtCategori}||'%'::uuid
            </if>
            <if test="newPage">
                and updt_date >= (current_timestamp + '-2 months')
            </if>
        <if test="newPage">
            order by
                updt_date desc
        </if>
        <if test="upPrice">
            order by
                prdt_price desc
        </if>
        <if test="downPrice">
            order by
                prdt_price asc
        </if>
        <if test="mainPage">
            order by
                prdt_salecnt desc
        </if>
    </select>

    <!-- 상품 상세 -->
    <select id="getProductDetail" parameterType="string" resultType="java.util.HashMap">
        select
            prdt_code,
            prdt_name,
            prdt_mainimg,
            brand_name,
            updt_date,
            TO_CHAR(prdt_price,'999,999,999,999')||'￦' AS prdt_price,
            prdt_detailimg,
            prdt_categori,
            prdt_option,
            brand_id,
            prdt_inventory,
            prdt_salecnt,
            pl.sale_code,
            sl.sale_count
        from
            product_list pl
            left join sale_list sl
                on pl.sale_code = sl.sale_code and sale_period > now()
        where
            prdt_code = #{prdtCode}::uuid
    </select>

    <!-- 브랜드 상세 -->
    <select id="getBrandDetail" parameterType="string" resultType="java.util.HashMap">
        select
            brand_id,
            brand_name,
            brand_detail
        from
            brand_list
        where
            brand_id = #{brandNm}
    </select>
</mapper>