body {
    padding-top: 120px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer ul li{
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
}

.mb-3 {
    width: 320px !important;
    border-width: 0 !important;;
}

.card-header {
    background-color: white !important;
}