.div_main{
    background-color: white;
    margin-bottom: 310px;
}

.mb-3 {
    width: 320px !important;
    border-width: 0 !important;;
}

.card-header {
    background-color: white !important;
}

.page_header {
    margin-bottom: 10px !important;
}