<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <title></title>
</head>
<body>
<div class="container div_main">
    <div class="page_header">
        <div class="row">
            <h1>PRODUCT DETAIL</h1>
        </div>
    </div>
    <div class="img_aria">
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
        <li>이름1</li>
    </div>
    <div class="detail_aria">
        <table>
            <tbody>
                <tr>
                    <th>
                        이름
                    </th>
                </tr>
                <tr>
                    <th>
                        내용
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:replace="layout/footer"></th:block>
</div>

</body>
</html>