<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/minty/bootstrap.min.css">
  <link th:href="@{~/css/login.css}" rel="stylesheet">

  <title>로그인</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form th:action method="post" class="login-form">
      <input id="username" class="form-control" type="text" placeholder="ID"/>
      <input id="password" class="form-control" type="password" placeholder="PASSWORD"/>
      <button type="submit" class="btn btn-primary">login</button>
      <p class="message">계정이 없으신가요? <a th:href="@{~/register}">회원가입 하러가기</a></p>
      <p class="message">메인화면으로 <a th:href="@{~/}">돌아가기</a></p>
    </form>
  </div>
</div>
</body>
</html>

<script th:src="@{/js/login.js}"></script>