<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/bootswatch/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/bootswatch/_bootswatch.scss}">
  <link rel="stylesheet" th:href="@{/css/bootswatch/_variables.scss}">
  <link th:href="@{~/css/login.css}" rel="stylesheet">

  <title>로그인</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form th:action="@{~/login}" method="post" class="login-form">
      <input name="username" class="form-control" type="text" required="required" placeholder="ID"/>
      <input name="password" class="form-control" type="password" required="required" placeholder="PASSWORD"/>
      <button type="submit" class="btn btn-primary">login</button>
      <p class="message">계정이 없으신가요? <a th:href="@{~/register}">회원가입 하러가기</a></p>
      <p class="message">메인화면으로 <a th:href="@{~/}">돌아가기</a></p>
    </form>
  </div>
</div>
</body>
</html>

<script th:src="@{~/js/login.js}"></script>