<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>main</title>
</head>
<body>
    <div class="container div_main">
        <div class="page_header">
            <div class="row">
                <img src="https://via.placeholder.com/700x200" alt="샘플이미지">
            </div>
        </div>
        <div class="page_header">
            <div class="row">
                <h2>New Arrival</h2>
                <div class="row">
                    <th:block th:if="${newProductList}">
                        <div class="card mb-3" th:each="list : ${newProductList}">
                            <h3 class="card-header"></h3>
                            <img th:src="${list.base64}?|data:image/png;base64,${list.base64}|">
                            <div class="card-body">
                                <p class="card-text" th:text="${list.brand_name}"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="${list.prdt_name}"></li>
                                <li class="list-group-item" th:text="${list.prdt_price}"></li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="page_header">
            <div class="row">
                <h2>Best Item</h2>
                <div class="row">
                    <th:block th:if="${bestProductList}">
                        <div class="card mb-3" th:each="list : ${bestProductList}">
                            <h3 class="card-header"></h3>
                            <img th:src="${list.base64}?|data:image/png;base64,${list.base64}|">
                            <div class="card-body">
                                <p class="card-text" th:text="${list.brand_name}"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="${list.prdt_name}"></li>
                                <li class="list-group-item" th:text="${list.prdt_price}"></li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <footer th:replace="layout/footer"></footer>
    </div>
</body>
</html>