<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/productlist.css}">
    <title></title>
</head>
<body>
<div class="container div_main">
    <div class="page_header">
        <div class="row">
            <h1>ALL PRODUCT</h1>
        </div>
    </div>
    <div class="page_header">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
            <label class="btn btn-primary" for="btncheck1">Checkbox 1</label>
            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-primary" for="btncheck2">Checkbox 2</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-primary" for="btncheck3">Checkbox 3</label>
        </div>
        <div class="row">
            <th:block th:if="${productList}">
                <div class="card mb-3" th:each="list : ${productList}">
                    <h3 class="card-header"></h3>
                    <img th:src="${list.base64}?|data:image/png;base64,${list.base64}|">
                    <div class="card-body">
                        <p class="card-text" th:text="${list.brand_name}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${list.prdt_name}"></li>
                        <li class="list-group-item" th:text="${list.prdt_price}"></li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
    <th:block th:replace="layout/footer"></th:block>
</div>
</body>
</html>