<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/bootswatch/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/bootswatch/_bootswatch.scss}">
  <link rel="stylesheet" th:href="@{/css/bootswatch/_variables.scss}">
  <link th:href="@{~/css/login.css}" rel="stylesheet">

  <title>로그인</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <div id="submitUser">
      <input id="userId" name="userId" class="form-control" type="text" required="required" placeholder="ID"/>
      <input id="passwd" name="passwd" class="form-control" type="password" required="required" placeholder="PASSWORD"/>
      <input id="usrNm" name="usrNm" class="form-control" type="text" required="required" placeholder="NAME"/>
      <input id="email" name="email" class="form-control" type="email" required="required" placeholder="EMAIL"/>
      <input id="phonNo" name="phonNo" class="form-control" type="text" required="required" placeholder="PHONE"/>
      <button id="submit" class="btn btn-primary">CREATE</button>
      <p class="message">계정이 있으신가요? <a th:href="@{~/login}">로그인 하러가기</a></p>
      <p class="message">메인화면으로 <a th:href="@{~/}">돌아가기</a></p>
    </div>

  </div>
</div>
</body>
</html>

<script th:src="@{/js/register/register.js}"></script>